<%= form_for question do |f| %>
  <%= f.hidden_field :lesson_id, value: question.lesson_id %>
  <div class="rounded-xl max-w-7xl mx-auto border mb-4">
    <div class="grid grid-cols-5 p-8">
      <div class="text-left col-span-2">
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.text_field :time_limit %>
      </div>
      <div>
        <%= f.submit class: 'btn btn-success' %>
      </div>
      <div><%= link_to 'Edit Answers', edit_question_path(question.id), class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %></div>
    </div>
  </div>
<% end %>
