  <%= form_for lesson do |f| %>
    <div class="grid grid-cols-12 gap-4 py-4">
      <div class="col-span-4">
        <%= f.label :course %>
        <%= f.collection_select :course_id, courses, :id, :summary, {}, { class: 'min-w-full' } %>
      </div>
      <div class="col-span-4">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'w-full' %>
      </div>
      <div class="col-span-4">
        <%= f.label :lesson_number %>
        <%= f.text_field :number, class: 'w-full' %>
      </div>
    <%= f.submit class: 'btn btn-success' %>
  <% end %>
