<%= form_for question do |f| %>
  <div class="grid grid-cols-3 gap-4 py-4">
    <div>
      <%= f.label :lesson %>
       <%= f.hidden_field :lesson_id, value: question.lesson_id %>
        <p> <%= Presenter.from(question.lesson).first.name %></p>
    </div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'border border-white rounded-md bg-transparent w-full' %>
    </div>
      <div>
      <%= f.label :time_limit %>
      <%= f.text_field :time_limit, class: ' border border-white rounded-md bg-transparent w-full' %>
    </div>
  </div>
  <%= f.submit class: 'btn btn-success bg-gray-700 px-6 py-2 rounded-md' %>
<% end %>
