<%= form_for question do |f| %>
  <div class="grid grid-cols-12 gap-4 py-4">
    <div class="col-span-4">
      <%= f.label :lesson %>
      <%= f.collection_select :lesson_id, lessons, :id, :name, {}, { class: 'min-w-full' } %>
    </div>
    <div class="col-span-4">
      <%= f.label :Question %>
      <%= f.text_field :title, class: 'w-full' %>
    </div>
      <div class="col-span-4">
      <%= f.label :time_limit %>
      <%= f.text_field :time_limit, class: 'w-full' %>
    </div>
  <%= f.submit class: 'btn btn-success' %>
<% end %>
