<div class="rounded-xl max-w-7xl mx-auto border mb-4">
  <div class="grid grid-cols-5 gap-4 p-8">
    <%= form_for answer, html: { class: 'col-span-4' } do |f| %>
      <%= f.hidden_field :question_id, value: answer.question_id %>
      <div class="grid grid-cols-4 gap-4">
        <div class="text-left col-span-2">
          <%= f.text_field :value, class:"border border-white rounded-md bg-transparent" %>
        </div>
        <div>
          <%= f.check_box :correct%>
          <%= f.label :correct %>
        </div>
        <div>
          <%= f.submit class: 'btn btn-success bg-gray-700 px-6 py-2 rounded-md' %>
        </div>
      </div>
    <% end %>
    <% if answer.persisted? %>
      <div>
        <%= button_to "delete answer", answer_path(answer), method: :delete, class: 'btn btn-success bg-gray-700 px-6 py-2 rounded-md' %>
      </div>
    <% end %>
  </div>
</div>
