<div class="min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-extrabold font-heading text-yellow-300">
      Sign up
    </h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-gray-800 py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "space-y-6") do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div>
      <%= f.label :email, class: "block text-sm font-medium"%>
          <div class="mt-1">
            <%= f.email_field :email, autofocus: true,  autocomplete: "email", required: true, class: "bg-gray-800 text-white" %>
          </div>
        </div>

        <div>
          <%= f.label :password, class: "block text-sm font-medium mt-4" %>
          <% if @minimum_password_length %>
          <em class="text-sm">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", required: true, class: "bg-gray-800 text-white" %>
        </div>

        <div>
          <%= f.label :password_confirmation, class: "block text-sm mt-4 font-medium" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "bg-gray-800 text-white" %>
        </div>

        <div>
          <%= f.submit "Sign up", class: "w-full flex justify-center mt-4 py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      <% end %>
