<%= form_for answer do |f| %>
  <div class="grid grid-cols-12 gap-4 py-4">
    <div class="col-span-4">
      <%= f.label :question %>
      <%= f.collection_select :question_id, questions, :id, :title, {}, { class: 'min-w-full' } %>
    </div>
    <div class="col-span-4">
      <%= f.label :answer %>
      <%= text_field_tag 'answer[answers][][value]', '', class: 'w-full' %>
    </div>
      <div class="col-span-4">
      <%= check_box_tag 'answer[answers][][correct]', 'false' %>
      <%= f.label :correct %>
    </div>
  <%= f.submit class: 'btn btn-success' %>
<% end %>
