 <div>
 <%= link_to 'Back to Modules', @lesson.course, class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
 <% if @lesson.questions.where(question_type: 'Invalid').any? || @lesson.questions.none? %>
   <%= link_to 'Create Lobby', '#', class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-gray-200 bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
 <% else %>
 <%= link_to 'Create Lobby', new_lobby_path(lesson_id: @lesson.id), class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
<% end %>
 <% if @lesson.lobbies.where(state: 'finished').none? %>
    <%= link_to 'Lesson Stats', '#'	, class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-gray-200 bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
  <% else %>
 <%= link_to 'Lesson Stats', stats_lesson_path(@lesson)	, class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  <% end %>
 <%= link_to 'Edit Lesson', edit_lesson_path(@lesson)	, class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-12">
      <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl"><%= @lesson.name %></h2>
      </div>
      <h2 class='text-lg'>Lobbies</h2>
      <% @lesson.lobbies.includes(:year).order('years.created_at desc').group_by(&:year).each do |year, lobbies| %>
        <div class='border border-white rounded-xl p-8'>
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl"><%= year.academic_year %></h2>
        <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8">
          <% lobbies.each do |lobby| %>
            <%= render Component::Course::ShowLobby.new(lobby: lobby) %>
          <% end %>
        </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>

