<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div class="min-h-screen bg-transparent flex">
  <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <h2 class="mt-6 text-3xl font-extrabold font-heading text-yellow-300">
          Sign in to your account
        </h2>
      </div>
      <div class="mt-8">
        <div>
          <div class="mt-6 relative">
            <div class="inset-0 flex items-center">
              <div class="w-full">
                <% if alert %>
                  <div class="m-auto w-2/3">
                    <%= render Component::Devise::ErrorMessage.new text: alert %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-6">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "space-y-6", data: { turbo: false} ) do |f| %>
            <div>
              <%= f.label :email_address, class: "block text-sm font-medium" %>
              <div class="mt-1">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "bg-gray-800 text-white" %>
              </div>
            </div>
            <div class="space-y-1">
              <%= f.label :password, class: "block text-sm font-medium"%>
              <div class="mt-1">
                <%= f.password_field :password, autocomplete: "current-password", required: true,  class: "bg-gray-800 text-white" %>
              </div>
            </div>
            <div class="flex items-center justify-between">
              <% if devise_mapping.rememberable? %>
                <div class="flex items-center">
                  <%= f.check_box :remember_me, class:"h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"%>
                  <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
                </div>
              <% end %>
              <div class="text-sm my-2">
                <%= render "devise/shared/links" %>
              </div>
            </div>
            <div>
              <%= f.submit "Log in", class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"%>
            </div>
            <div>
              <%- if devise_mapping.registerable? %>
                <%= link_to "Sign up", new_registration_path(resource_name), class: "w-full flex justify-center my-2 py-2 px-4 border border-indigo-600 rounded-md shadow-sm text-sm font-medium text-indigo-600 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %><br />
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden lg:block relative w-0 flex-1">
    <img class="absolute inset-0 h-full w-full object-cover" src="https://images.unsplash.com/photo-1505904267569-f02eaeb45a4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1908&q=80" alt="">
  </div>
</div>
