  <%= form_for course do |f| %>
    <div class="grid grid-cols-3 gap-4 py-4">
      <div>
        <%= f.label :subject %>
        <%= f.collection_select :subject_id, Subject.all, :id, :name, {}, { class: 'border border-white rounded-md bg-transparent w-full' } %>
      </div>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'border border-white rounded-md bg-transparent w-full' %>
      </div>
      <div>
        <%= f.label :module_code %>
        <%= f.text_field :module_code, class: 'border border-white rounded-md bg-transparent w-full' %>
      </div>
    <%= f.submit class: 'btn btn-success bg-gray-700 px-6 py-2 rounded-md' %>
  <% end %>
