<%= turbo_frame_tag dom_id(lobby_question) do %>
  <div class="rounded-xl max-w-7xl mx-auto border mb-4">
    <div class="grid grid-cols-4 p-8">
      <div class="text-left col-span-2">
        <%= lobby_question.question.title %>
      </div>
      <div>
        <%= lobby_question.state.humanize %>
      </div>
      <div class="text-right">
        <%= form_tag lobby_question_path(lobby_question), method: :patch, class: 'ml-2' do %>
          <%= hidden_field_tag 'lobby_question[state]', 'starting'%>
            <% if lobby_question.state == 'finished' %>
            <%= link_to 'Show Results', lobby_question, class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500", 'data-turbo-frame': '_top' %>


            <% elsif lobby_question.state == 'pending' %>
            <% unless lobby_question.lobby.lobby_questions.where(state: ["started", "starting"]).any? %>
              <%= submit_tag 'Start Question', class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
            <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
