<!DOCTYPE html>
<html>
  <head>
    <title>Indecision</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body class="min-h-screen flex flex-col">
    <div>
      <%= render Component::Navbar::Navbar.new(title: 'indecision', current_user: current_user) %>
    </div>
    <div class="bg-gray-900 text-white flex-grow"><%= yield %></div>
    <%= render Component::Notification::Holder.new %>
  </body>
</html>
