<!DOCTYPE html>
<html>
  <head>
    <title>Indecision</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <div class="flex">
      <%= render Component::Sidebar::Sidebar.new %>
      <div class="h-screen overflow-y-scroll w-full bg-gray-900 text-white p-4"><%= yield %></div>
    </div>
    <%= render Component::Notification::Holder.new %>
  </body>
</html>
